# Learned Over Years

# Table of Contents
1. [Import Packages](#imports)
2. [Import the Data](#importdata)
3. [Preprocess Data](#preprocess)

### Import Packages   <a name="imports"></a>
* [Back to TOC](#backtoc)

In [1]:
# Import  libraries

import pandas as pd
import numpy as np 


import warnings
warnings.filterwarnings("ignore")

### Import the data  <a name="importdata"></a>
* [Back to TOC](#backtoc)

In [2]:

Ano20132014 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20132014.csv')

Ano20142015 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20142015.csv')

Ano20152016 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20152016.csv')

Ano20162017 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20162017.csv')

Ano20172018 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20172018.csv')

Ano20182019 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20182019.csv')

Ano20192020 = pd.read_csv('Data/DadosAoLongoDosAnos/LearnedOverYearsAno20192020.csv')

In [3]:
LearnedOverYears= pd.concat([ Ano20132014, Ano20142015, Ano20152016,Ano20162017, Ano20172018, Ano20182019,Ano20192020  ], ignore_index=True)

### PreProcess Data  <a name="preprocess"></a>
* [Back to TOC](#backtoc)

In [4]:
LearnedOverYears

          Year  AverageLearned
0  2-2013/2014        3.606843
1  3-2014/2015        4.045455
2  4-2015/2016        3.497992
3  5-2016/2017        4.011312
4  6-2017/2018        3.824138
5  7-2018/2019        3.615789
6  7-2019/2020        3.484848

In [5]:
Year = [2014, 2015,2016,2017,2018,2019, 2020]

In [6]:
LearnedOverYears['Year'] = Year

In [7]:
LearnedOverYears

   Year  AverageLearned
0  2014        3.606843
1  2015        4.045455
2  2016        3.497992
3  2017        4.011312
4  2018        3.824138
5  2019        3.615789
6  2020        3.484848

### Data Visualizations  <a name="dataviz"></a>

* [Back to TOC](#backtoc)

In [1]:
import plotly.graph_objects as go


fig = go.Figure(data=go.Scatter(x=LearnedOverYears['Year'], y=LearnedOverYears['AverageLearned']))

fig.update_layout(title_text='Aprendeu com a Plataforma?  - Média Anual')
fig.update_layout(xaxis_type='category')

fig.show()



fig.write_image('Outputs/YearlyAverage/LearnedOverYears.png')

NameError: name 'LearnedOverYears' is not defined

### Save Processed Data<a name="processeddata"></a>
* [Back to TOC](#backtoc)

In [9]:
LearnedOverYears.to_csv(r'Data/DadosAoLongoDosAnos/LearnedOverYearsTotal.csv', index = False)